.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.env
__pycache__/
.venv/

training/dataset/data/

*.pem
*.key
.env*

*.bak
training/dataset/*.csv
training/dataset/*.parquet
training/dataset/*.arff
training/dataset/*.zip
